{% extends "base.html" %}

{% block title %}Enlaces{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="animated-title text-center mb-4">Enlaces Útiles</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Google</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.wikipedia.org" target="_blank" rel="noopener noreferrer">Wikipedia</a>
        </li>
    </ul>
</div>
{% endblock %}