{% extends "base.html" %}

{% block title %}Título de la página{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="animated-title text-center mb-4">Enlaces Útiles</h1>
    <div class="enlaces-list">
        <div class="enlace-item">
            <a href="http://www.avlisad.com.ar/test/" target="_blank" rel="noopener noreferrer" class="enlace-link">Test de Raven</a>
            <span class="enlace-description">Un test de inteligencia popular.</span>
        </div><div class="enlace-item">
            <a href="https://www.efset.org/es/" target="_blank" rel="noopener noreferrer" class="enlace-link">Ef-set</a>
            <span class="enlace-description">Certifica tu nivel de ingles gratis.</span>
        </div>
        <div class="enlace-item">
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" class="enlace-link">YouTube</a>
            <span class="enlace-description">Plataforma de videos y entretenimiento.</span>
        </div>
        <div class="enlace-item">
            <a href="https://www.wikipedia.org" target="_blank" rel="noopener noreferrer" class="enlace-link">Wikipedia</a>
            <span class="enlace-description">Enciclopedia libre y colaborativa.</span>
        </div>
        <div class="enlace-item">
            <a href="https://www.github.com" target="_blank" rel="noopener noreferrer" class="enlace-link">GitHub</a>
            <span class="enlace-description">Plataforma para alojar y colaborar en proyectos de código.</span>
        </div>
        <div class="enlace-item">
            <a href="https://www.stackoverflow.com" target="_blank" rel="noopener noreferrer" class="enlace-link">Stack Overflow</a>
            <span class="enlace-description">Comunidad de preguntas y respuestas para programadores.</span>
        </div>
    </div>
</div>
{% endblock %}