{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="animated-title text-center mb-4">Bienvenido a mi Web</h1>
    <div class="text-readable">
        <p class="text-center mb-4">Soy Aupachus, Técnico superior en sistemas de telecomunicación e informáticos, apasionado de la programación y la tecnología.</p>
        <p class="text-center mb-4">En este sitio encontrarás una variedad de recursos, desde cursos de programación hasta tutoriales sobre herramientas útiles.</p>
        <p class="text-center mb-4">He creado este espacio para compartir mis conocimientos y ayudar a otros a aprender.</p>
        <p class="text-center mb-4">Si tienes alguna pregunta o sugerencia, no dudes en contactarme.</p>
        <p class="text-center mb-4">¡Espero que te sea tan útil como a mí!</p>
    </div>

    <div class="text-center">
        <a href="{{ url_for('inteligencia_artificial') }}" class="btn btn-info">Explorar Inteligencia Artificial</a>
        <a href="{{ url_for('ver_pdfs') }}" class="btn btn-primary">Ver PDFs disponibles</a>
    </div>

    <div class="text-center mb-5">
        <img src="../static/img/1(11).png" 
             alt="Aupachus" 
             class="img-fluid rounded-circle" 
             style="width: 250px; height: 250px;"
             loading="lazy">
    </div>
</div>
{% endblock %}
