{% extends "base.html" %}

{% block title %}Repositorio de PDFs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="animated-title text-center mb-4">Repositorio de PDFs</h1>
    <h2 class="text-center">PDFs Disponibles</h2>
    {% if pdfs %}
        <ul class="list-group">
        {% for pdf in pdfs %}
            <li class="list-group-item">
                <a href="{{ url_for('static', filename='pdfs/' + pdf) }}" target="_blank" class="pdf-link">{{ pdf }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">No hay PDFs disponibles.</p>
    {% endif %}
</div>
{% endblock %}